
{% extends "base.html" %}

{% block content %}
	<h1>signup</h1>
    <div class="container">
        <h2>Register</h2>
        <form action="/register_save" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required placeholder="Enter your name">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password">

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>


	{% endblock %}